name: GraphQL Model Codegen (AppSync)

on:
  workflow_dispatch:

jobs:
  codegen:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Amplify CLI
        run: npm install -g @aws-amplify/cli

      - name: Install AWS CLI v2
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install
      

      - name: Set Node memory
        run: echo "NODE_OPTIONS=--max-old-space-size=8192" >> $GITHUB_ENV

      - name: Configure AWS credentials
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws sts get-caller-identity

      - name: Download GraphQL schema from AppSync
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          mkdir -p lib/graphql
          aws appsync get-introspection-schema \
            --api-id opneacbjcnamhlztju3jf26j64 \
            --region $AWS_REGION \
            --format SDL \
            lib/graphql/schema.graphql

      - name: Add scalar types
        run: |
          sed -i '1s/^/scalar AWSJSON\nscalar AWSDateTime\n\n/' lib/graphql/schema.graphql

      - name: Generate models
        run: |
          npx @aws-amplify/cli codegen models \
            --model-schema lib/graphql/schema.graphql \
            --target flutter \
            --output-dir lib/models

      - name: Commit generated models
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add lib/models lib/graphql/schema.graphql
          git diff --cached --quiet || git commit -m "Generate GraphQL models from AppSync"
          git push
