name: Amplify Model Codegen

on:
  workflow_dispatch:

jobs:
  codegen:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Amplify CLI
        run: npm install -g @aws-amplify/cli

      - name: Increase Node memory
        run: echo "NODE_OPTIONS=--max-old-space-size=8192" >> $GITHUB_ENV

      - name: Amplify pull
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          amplify pull --yes \
            --appId opneacbjcnamhlztju3jf26j64 \
            --envName qa

      - name: Generate models
        run: amplify codegen models

      - name: Commit generated models
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add src/models
          git commit -m "Generate Amplify models"
          git push
